@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

$blue: #5fa9d9;
$gray: rgba(0,0,0,.6);
$shadow: 10px 10px 8px -10px rgba(0,0,0,0.4);
$right-max-width: 360px;
$right-min-width: 200px;

.new-chat {
  flex: 1;
  margin: 10px;
  box-shadow: $shadow;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: $right-max-width; 
  min-width: $right-min-width;
  text-align: center;

  .selected-language {
    color: $blue;
    text-align: center;
    padding: 10px;
    font-size: 20px;
  }

  .language {
    background-color: $blue;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  .button-wrapper {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      font-weight: 700;
      cursor: pointer;
      font-family: 'quicksand';
      color: $blue;
      border-radius: 4px;
      width: 80%;
      height: 50px;
      background: transparent;
      border: 2px solid $blue;
      font-size: 24px;
      transition: all .3s;

      &:hover {
        background: $blue;
        color: white;
      }
    }
  }
}