@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

$blue: #5fa9d9;
$gray: rgba(0,0,0,.6);
$shadow: 10px 10px 8px -10px rgba(0,0,0,0.4);

// $break-small-top: 420px;
// $break-small-bottom: 530px;
// $break-small-left: 420px;
// $break-small-right: 420px;

$right-max-width: 360px;
$right-min-width: 200px;
$left-min-width: 400px;
$top-vh: 60vh;
$bot-vh: 38vh;

* {
    outline: none !important;
}

body {
  margin: 0px;
  font-family: 'quicksand' !important;

  a#login-sign-in-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: white;
  }
}

.ReactModal__Overlay {
  z-index: 100;
}

.quitProfile {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 35px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.1);

  .top {
    height: $top-vh;
    display: flex;
    flex-direction: row;
    min-height: 270px;
  }

  .bottom {
    height: $bot-vh;
    display: flex;
    min-height: 170px;
  }
}