@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

$blue: #5fa9d9;
$shadow: 10px 10px 8px -10px rgba(0,0,0,0.4);

body {
  margin: 0px;
  font-family: 'quicksand' !important;

  a#login-sign-in-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: white;
  }
}

.hidden {
  display: none;
}

.home-page {
  height: 100vh;
  width: 100vw;
  background: url('/pattern.svg') center center ;
  display: flex;
  justify-content: center;
  align-items: center;

  .sign-in {
    position: absolute;
    right: 240px;
    top: 40px;
  }

  .main-logo {
    font-size: 90px;
    color: white;
  }
}

.language-select {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .language-form {
    width: 100vw;
    max-height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-instructions {
      color: rgba(0,0,0,.2);
    }

    input {
      font-family: 'quicksand';
      width: calc(50vw - 20px);
      height: 40px;
      border: 0px;
      border-bottom: 1px solid rgba(0,0,0,.3);
      font-size: 30px;
      padding: 10px;
      text-align: center;
      transition: all .3s;

      &:focus {
        outline: 0px none;
        border-bottom: 1px solid #5fa9d9;
        transition: all .3s;
      }
    }

    .submit-button {
      font-family: 'quicksand';
      font-size: 20px;
      cursor: pointer;
      height: 50px;
      width: 50vw;
      margin-top: 30px;
      border-radius: 4px;
      border: 1px solid $blue;
      background-color: transparent;
      color: $blue;
      transition: all .3s;

      &:hover {
        background-color: $blue;
        color: white;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.dashboard {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.1);

  .top {
    height: 65vh;
    display: flex;
    flex-direction: row;

    .video-box {
      display: flex;
      flex: 3;
      background-color: white;
      margin: 10px;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      box-shadow: $shadow;

      .review {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .stars {
          text-align: center;
          cursor: pointer;

          i {
            margin-right: 2px;
            nargin-left: 2px;
          }
        }

        .review-submit {
          cursor: pointer;
          font-family: 'quicksand';
          font-size: 14px;
          border: 1px solid $blue;
          background-color: transparent;
          color: $blue;
          border-radius: 4px;
          height: 30px;
          width: 130px;
          transition: all .3s;

          &:hover {
            color: white;
            background-color: $blue;
          }
        }
      }

      .video-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: 'pink';

        #myVideo {
          position: absolute;
          top: -25px;
          right: 0px;
          z-index: 100;
          height: 200px;
          width: 200px;
        }

        #theirVideo {
          z-index: 0;
          width: 100%;
        }
      }
    }

    .profile {
      flex: 1;
      margin: 10px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      box-shadow: $shadow;
      background-color: white;

      .sign-out {
        flex: 1;
        height: 40px;
        text-align: right;
        padding-right: 20px;
        padding-top: 20px;
        background-color: $blue;
        color: white;

        #login-name-link {
          text-decoration: none;
        }
      }

      .user-profile {
        height: 100%;
        flex: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .profile-input-wrapper {
          flex: 1;
          display: flex;
          width: 100%;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          max-height: 100px;

          i {
            margin-left: 5px;
            font-size: 12px
          }

          .title {
            flex: 1;
            display: block;
            width: 100%;
            margin-left: 20px;
            font-size: 12px;
            max-height: 20px;
            color: $blue;
          }

          .profile-input {
            cursor: text; 
            width: calc(100% - 20px);
            padding: 10px;
            flex: 1;
            max-height: 30px;
            border: 0px;
            border-bottom: 1px solid rgba(0,0,0,.1);
            outline: none;
            font-size: 18px;
            line-height: 30px;
            transition: all .3s;

            &:hover {
              border-bottom: 1px solid $blue;
            }
          }

          .editing {
            cursor: text; 
            font-family: 'quicksand';
            padding: 10px;
            flex: 1;
            max-height: 30px;
            font-size: 18px;
            width: calc(100% - 20px);
            border: 0px;
            border-bottom: 1px solid $blue;
            outline: none;
            line-height: 30px;
          }
        }
      }
    }
  }

  .bottom {
    height: 32vh;
    display: flex;

    .text-box {
      flex: 3;
      margin: 10px;
      box-shadow: $shadow;
      border-radius: 4px;
      background-color: white;
    }

    .new-chat {
      flex: 1;
      margin: 10px;
      box-shadow: $shadow;
      border-radius: 4px;
      background-color: white;
      display: flex;
      flex-direction: column;

      .selected-language {
        color: $blue;
        text-align: center;
        padding: 10px;
        font-size: 20px;
      }

      .language {
        background-color: $blue;
        color: white;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
      }

      .button-wrapper {
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          font-weight: 700;
          cursor: pointer;
          font-family: 'quicksand';
          color: $blue;
          border-radius: 4px;
          width: 80%;
          height: 50px;
          background: transparent;
          border: 2px solid $blue;
          font-size: 24px;
          transition: all .3s;

          &:hover {
            background: $blue;
            color: white;
          }
        }
      }
    }
  }
}











